.picture{
        height: 300px;
       margin-left: 2cm;
        transition: 0.5s;

    }
        .picture:hover {
            height: 310px;
    
            transition: 0.5s;
    
        }
.container{
    background-color:whitesmoke;
    
}